<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>
                {% for st in student %}
                    {{ st.first_name }} {{ st.last_name }} - Home
                {% endfor %}
        </title>

        {% load static %}

        <!-- Main CSS-->
        <link href="{% static 'exam/css/main.css' %}" rel="stylesheet" media="all">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Font special for pages-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    </head>

    <body>
        <div class="oes-masthead">
            <div class="container">
                <nav class="nav">
                    <div class="navbar-brand">College Name</div>
                    <a class="nav-link" href="#">{{ username }}</a>
                    <a class="nav-link" href="{% url 'user:logout' %}">Logout</a>
                </nav>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                
                <div class="col-sm-3" >
                    <div class="side-bar-wrapper">
                        {% for st in student %}
                            <p class="student-name">{{ st.first_name |title}} {{ st.last_name |title}} </p>
                            <p class="student-year">{{ st.year }} </p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-sm-9" >
                    <div class="page-wrapper">
                        <div class="card-body">
                            <p class="display-4">Exam list</p>
                            <br>
                            {% for ex in exam %}
                                <br>
                                <div class="exam-tag">
                                    <a class="exam-name" href="{% url 'exam:take_exam' pk=ex.id %}"> {{ ex.exam_name | title}} </a>
                                    <br>
                                    <br>
                                    <p> Total Mark : {{ ex.total_marks }}</p>
                                    <p> Duration : {{ ex.total_time }} minutes</p>
                                    <!-- <p> Starts on : {{ ex.start_date_time }}</p> -->
                                </div>
                                <br />
                            {% endfor %}
                        </div>
                        <div class="card-body">
                            <p class="display-4">Attended</p>
                            <br>
                            {% for ex in attended_exam %}
                                <br>
                                <div class="attended exam-tag">
                                    <a class="attended-name exam-name" href="{% url 'exam:take_exam' pk=ex.id %}"> {{ ex.exam_name | title}} </a>
                                    <br>
                                    <br>
                                    <p> Total Mark : {{ ex.total_marks }}</p>
                                    <p> Duration : {{ ex.total_time }} minutes</p>
                                    <div class="option-buttons">
                                        <a href="{% url 'exam:generate_pdf' exam=ex.id %}" class="btn btn-primary btn-left">Download</a>
                                        {% for st in student %}
                                        <a href="{% url 'exam:review_exam' exam=ex.id student=st.id %}" class="btn btn-danger btn-right">Review</a>
                                        {% endfor %}
                                    </div>
                                    <!-- <p> Starts on : {{ ex.start_date_time }}</p> -->
                                </div>
                                <br />
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

        


